/* Page Styles
================================ */

/* * {
    border: 1px solid red !important;
} */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

img,
embed,
object,
video {
  max-width: 100%;
}

h1,
h2,
h3,
h5,
p {
 margin: 0;
}

a {
 text-decoration: none;
 display: block;
 min-width: 48px;
 min-height: 48px;
}

a:hover {
	color: #49A964;
}

body {
	font: normal 1.2em/1.25 'Alegreya', Georgia, serif;
	color: #222;
	background-color: #edeff0;
	margin: 0;
}

.logo {
	font-size: 4.5em;
	color: rgb(240, 255, 0);
	padding: 15px 0 0 0;
	margin: 0;
}

.myinfo h1{
	font: bold 2em 'Pathway Gothic One', sans-serif;
	color: rgb(101, 10, 178);
}

.myinfo h5 {
	color: rgb(101, 10, 178);
	font: bold 1em 'Pathway Gothic One', sans-serif;
	padding: 10px 0;
}

.hero {
	margin: auto;
	padding: 10px 0;

}

.mauve {
	color: rgb(93, 77, 109);
}

.uppercase {
	text-transform: uppercase;
}


/* Header Layout
================================ */

.main-wrapper {
    margin: 0 auto;
	width: 100%;
    max-width: 1100px;
   
}

.main-footer {
	font-size: 1.1em;
	text-align: center;
	color: rgb(69, 42, 52);	
	padding-top: 30px;
	padding-bottom: 5px;
}

.flexcontainer, .row {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.flexcontainer {
	border-bottom: 2px solid rgb(85, 178, 0);
}

.row {
	flex-wrap: wrap;
	text-align: center;
}

.headerchild1 {
	flex: 0.5;
}

.headerchild2 {		
	flex: 2;
}

.no-flexbox  .headerchild1,
			.headerchild2 {
			display: inline-block; 
			}
			
.no-flexbox .headerchild1 {
	width: 40%;
}

h2 {
	color: #848484
}

h3 {
	font-size: 1.25em;
}


/* Page Media Queries
================================ */
@media only screen and (min-width: 450px) {
	.myinfo {
		text-align: right;
		padding: 15px 0 10px;
	}
	
	.myinfo h1 {
		font-size: 3em;	
	}
	
	.myinfo h5 {
		font-size: 1.5em;
	}
	
	.col {
	flex: 1;
	}
	
	.no-flexbox .col {
		float: left;
		width: 33.3%;
		margin-right: 0;
	}
	
	.col {
	margin-right: 20px;
	}
	
	.col:last-of-type {
	margin-right: 0;
}
	
	
}