/* Grid
================================ */

.grid {
	
	margin: 0 auto;
	width: 100%;
}


/* Media Queries for the Grid
================================ */

@media only screen and (min-width: 1px) and (max-width: 649px)  {
	.grid > [class^="col-"] {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

@media only screen and (min-width: 650px) {
	
	
	/* Columns
	================================ */

	.grid > [class^="col-"] {
		float: left;
		min-height: 1px;
		margin-left: 2%;
	}
	.grid > [class^="col-"]:first-child {
		margin-left: 0;
	}
	.grid > [class^="col-"]:last-child {
		float: right;
	}

	
	/* Columns are 65px wide, with 20px gutters
	=========================================== */

	.col-1 {
		width: 6.5%;
	}
	.col-2 {
		width: 15%;
	}
	.col-3 {
		width: 23.5%;
	}
	.col-4 {
		width: 32%;
	}
	.col-5 {
		width: 40.5%;
	}
	.col-6 {
		width: 49%;
	}
	.col-7 {
		width: 57.5%;
	}
	.col-8 {
		width: 66%;
	}
	.col-9 {
		width: 74.5%;
	}
	.col-10 {
		width: 83%;
	}
	.col-11 {
		width: 91.5%;
	}
	.col-12 {
		width: 100%;
	}
	
	

	/* Clearfix
	================================ */

	.grid:after,
	.group:after {
	  content: " ";
	  display: table;
	  clear: both;
	}
}


/* Page Styles
================================ */

/* * {
    border: 1px solid red !important;
} */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

img,
embed,
object,
video {
  max-width: 100%;
}

h1,
h2,
h3,
h5,
p {
 margin: 0;
}

a {
 text-decoration: none;
 min-width: 48px;
 min-height: 48px;
}

a:hover {
	color: #49A964;
}

body {
	font: normal 1.2em/1.25 'Alegreya', Georgia, serif;
	color: #222;
	background-color: #edeff0;
	margin: 0;
}

.logo {
	font-size: 4.5em;
	color: rgb(240, 255, 0);
	padding: 15px 0 0 0;
	margin: 0;
}

.myinfo h1{
	font: bold 2em 'Pathway Gothic One', sans-serif;
	color: rgb(101, 10, 178);
}

.myinfo h5 {
	color: rgb(101, 10, 178);
	font: bold 1em 'Pathway Gothic One', sans-serif;
	padding: 10px 0;
}

.hero {
	margin: auto;
	padding: 10px 0;

}

.mauve {
	color: rgb(93, 77, 109);
}

.uppercase {
	text-transform: uppercase;
}

h3 {
	padding: 10px 0 5px;
}

/* Main Layout
================================ */

.main-wrapper {
    margin: 0 auto;
	width: 100%;
    max-width: 1100px;
   
}

.main-footer {
	font-size: 1.1em;
	text-align: center;
	color: rgb(69, 42, 52);	
	padding-top: 30px;
	padding-bottom: 5px;
}

.flexcontainer {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	border-bottom: 2px solid rgb(85, 178, 0);
}

.headerchild1 {
	flex: 0.5;
}

.headerchild2 {		
	flex: 2;
}

h2 {
	color: #848484
}

h3 {
	font-size: 28px;
}

/* Page Media Queries
================================ */
@media only screen and (min-width: 450px) {
	.myinfo {
		text-align: right;
		padding: 15px 0 10px;
	}
	
	.myinfo h1 {
		font-size: 3em;	
	}
	
	.myinfo h5 {
		font-size: 1.5em;
	}
}